@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Honk&family=Lato&family=Life+Savers&family=Poiret+One&family=Rubik+Moonrocks&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #d85eab;
  --secondary: #8c60c6;
}

.navbar {
  background-color: var(--secondary);
  @apply flex flex-col;
}

.nav-link {
  @apply inline-block pl-9 text-xl transition duration-300 ease-in-out hover:scale-110 hover:opacity-65;
}
.nav-links {
  @apply flex-row pb-2;
}

.active-link {
  @apply underline;
}

.header {
  font-family: Rubik Moonrocks;
  font-size: 2.7em;
  font-weight: 300;
  @apply flex-row self-center;
}

.project-card {
  // width: 500px;
  // align-items: center;
  // justify-content: space-evenly;
  // margin-top: 2em;
  width: 500px;
  // height: 500px;
  @apply flex cursor-pointer flex-col items-center justify-center rounded-xl;
}

// .project-card-description {
//   margin-right: 2em;
//   margin-left: 2em;
// }

.project-card-img {
  width: 50%;
  height: auto;
  // margin: auto;
  // @apply content-center;
}
.projects-container {
  @apply flex flex-wrap content-start justify-center gap-5;
}

// .pc-left {
//   justify-content: start;
// }

// .pc-right {
//   justify-content: end;
// }

@media only screen and (max-width: 600px) {
  .project-card-img {
    width: 50%;
    height: auto;
  }
}
